.user{position: relative; margin: 15px; width: 500px;}
.row{position: relative; width: 100%; display: grid; grid-template-columns: 30% 70%;}
.row div{padding: 15px;}
.user-page-title{position: relative; width: 100%; padding: 15px; font-size: large;}