<div class="user-page-title">
    <h3>User details</h3>
</div>

<div class="row">
    <div class="topic">Login</div>
    <div class="value">{{user.login}}</div>
</div>

<mat-divider></mat-divider>

<div class="row">
    <div class="topic">Name</div>
    <div class="value">{{user.name}}</div>
</div>

<mat-divider></mat-divider>

<div class="row">
    <div class="topic">Email</div>
    <div class="value">{{user.email}}</div>
</div>

<mat-divider></mat-divider>

<div class="row">
    <div class="topic">Location</div>
    <div class="value">
        <app-map></app-map>


    </div>
</div>

<mat-divider></mat-divider>

<div class="row">
    <div class="topic"></div>
    <div class="value"><button mat-raised-button (click)="clickEdit()">Edit user</button></div>
</div>