<form class="user-form" [formGroup]="userForm">
    <h3>
        <ng-container *ngIf="mode==='creation'">Create new user</ng-container>
        <ng-container *ngIf="mode==='edition'">Edit user</ng-container>
    </h3>



    <mat-form-field class="full-width" appearance="fill">
        <mat-label>User name</mat-label>
        <input matInput placeholder="Login" formControlName="login" name="login" id="login" autocomplete="off">
        <mat-error *ngIf="userForm.get('login').dirty && userForm.get('login').errors?.['required']">
            User name required
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password" name="password" id="password"
            autocomplete="off">
        <mat-error *ngIf="userForm.get('password').dirty && userForm.get('password').errors?.['required']">
            Password required
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Full name</mat-label>
        <input matInput placeholder="Full name" formControlName="name" name="name" id="name" autocomplete="off">
        <mat-error *ngIf="userForm.get('name').dirty && userForm.get('name').errors?.['required']">
            Name required
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" name="email" id="email" autocomplete="off">
        <mat-error *ngIf="userForm.get('email').dirty && userForm.get('email').errors?.['required']">
            Email required
        </mat-error>
        <mat-error *ngIf="userForm.get('email').dirty && userForm.get('email').errors?.['email']">
            Incorect email format
        </mat-error>
    </mat-form-field>

    <div class="map-area">
        <app-map height="150px"></app-map>
    </div>

    <div class="submit-area">
        <button mat-raised-button class="full-width-button" id="submitButton" (click)="submit()"
            [disabled]="!this.userForm.valid">
            <ng-container *ngIf="mode==='edition'">Save</ng-container>
            <ng-container *ngIf="mode==='creation'">Create</ng-container>
        </button>
    </div>

</form>