// FORMS
.form{position: relative; width: 100%; background-color: red;}
// .form-input-row{position: relative; width: 100%; display: grid; grid-template-columns: 150px auto; padding: 7px 0 7px 0;}
// .form-input-area{ }
// .form-error{padding: 7px 0 7px 0; color: red; text-align: left;  }
// .form input{display: inline-block; width: 200px; height: 30px; padding:0 5px 0 5px;   }
// .form button{ border:0; padding: 10px; width: 100px; text-align: center;  }

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
