<ng-container *ngIf="!loginLoading && !editLoading &&!creationLoading && !errorMessage">
    <app-user-details   *ngIf="user && !editMode"       [user]="user" (logout)="logOut()" (edit)="setEditMode(true)"></app-user-details>
    <app-login-form     *ngIf="!user && !editMode"      (submitLogin)="login($event.login, $event.password)" (createNewUSer)="setEditMode(true);"></app-login-form>
    <app-user-form      *ngIf="!user && editMode"       [mode]="'creation'" (createUser)="setEditMode(false); createUser($event)"></app-user-form>
    <app-user-form      *ngIf="user && editMode"        [user]="user" [mode]="'edition'" (editUser)="setEditMode(false);editUser($event)"></app-user-form>
</ng-container>

<div class="spinner-area" *ngIf="(loginLoading || editLoading || creationLoading) && !errorMessage">
    <h3>LOADING...</h3> 
</div>

<div class="error-area" *ngIf="errorMessage">
    <div class="error-message">{{errorMessage}}</div>
    <br>
    <div><button mat-raised-button (click)="logOut()">Return to log in</button></div>
</div>






