<ng-container *ngIf="!loginLoading && !editLoading && !errorMessage">
    <app-user-details   *ngIf="user && !editMode"       [user]="user" (logout)="logOut()" (edit)="setEditMode(true)"></app-user-details>
    <app-login-form     *ngIf="!user && !editMode"      (submitLogin)="login($event.login, $event.password)"></app-login-form>
    <app-user-form      *ngIf="!user && editMode"        [mode]="'creation'"></app-user-form>
    <app-user-form      *ngIf="user && editMode"        [user]="user" [mode]="'edition'"></app-user-form>
</ng-container>

<ng-container *ngIf="(loginLoading || editLoading) && !errorMessage">Loading</ng-container>

<ng-container *ngIf="errorMessage">
    <div>{{errorMessage}}</div>
    <div><button (click)="logOut()">Return to log in</button></div>
</ng-container>




